*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #000;
}

header{
    width: 100%;
    padding: 10px 10px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}


.header-left{
    width: 27%;
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    padding: 10px;
    font-size: 15px;
}

.nav-left ul{
    width: 350px;
}
.nav-right ul{
    width: 300px;
}
.header-right{
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 150px;
    padding: 5px;
}

.logo img{
    width: 100%;
}

.login .inizio {
    padding: 3px 9px;
    background-color: rgb(0, 97, 255); 
    color: #fff;
}
/* end header */

.hero{
    width: 100%;
    background-color: rgb(180, 208, 231);
    height: 600px;
    padding-top: 50px;
}
.hero-box{
    max-width: 1440px;
    margin: 0px 120px ;
}
.title{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: bolder;
}
.title p{
    font-size: 60px;
    font-weight: bolder;
    text-align: left;
    word-spacing: 10px;
}
.hero-row{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.hero-col-1{
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-col-2{
    width: 55%;
    height: 375px;
}
.info-box{
    width: 100%;
    margin: 0 auto;
}

.info-box div{
    margin-bottom: 40px;
}

.info-box .bottone{
   padding: 10px 15px;
   background-color: rgb(0, 97, 255); 
   color: #fff;
}

.hero-col-2 img {
    width: 750px;
}

/* style plans*/
.plans {
    width: 100%;
    /* background-color: rgb(231, 194, 180); */
    /* height: 600px; */
    padding-top: 80px;
    /* height: 1000px; */
}

.plans-box {
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: beige;  */
    padding-bottom: 50px;
}
.title_plan {
    max-width: 1080px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    margin-bottom: 10px;
    /* height: 200px; */
}
 
.title_plan h2 {
    font-size: 40px;
    /* background-color: aqua; */
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.labels {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
.labels input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.labels:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
.labels input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
.labels input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
.labels .checkmark:after {
      top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

.plan_container {
    display: flex;
    /* background-color: gold; */
    max-width: 1080px;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col {
    /* background-color: #2196F3; */
    width: 32%;
    border: 1px solid #d0d0d3;
}

.col .bottone{
    padding: 10px 15px;
    background-color: rgb(0, 97, 255); 
    color: #fff;
    margin-top: 30px;
    display: block;
    text-align: center;
}

.col_header {
    width: 100%;
    text-align: center;
    height: 30px;
    padding: 4px;
    border-bottom: 1px solid #d0d0d3;
}

.col_text {
    padding: 20px 20px;
    /* height: 600px; */
}

.col_text li{
    display: flex;
}

.row_100 {
    max-width: 1080px;
    margin: 0 auto;
    
}

.col_100 {
    width: 100%;
    border: 1px solid #d0d0d3;
}

.type {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-weight: bolder;
    margin-bottom: 10px;
}

.period {
    color: grey;
    margin-bottom: 40px;
}

.col_text li {
    padding: 5px;
    font-size: 15px;
}

.col_text .bottone{
    padding: 10px 7px 10px;
    background-color: rgb(0, 97, 255); 
    color: #fff;
    margin-bottom: 30px;
}

.box_img {
    max-width: 1440px;
    margin: 0 auto;
    /* height:700px; */
    /* background-color: #2196F3; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.partner_img {
    width: 40%;
    /* background-color: #000;
    height: 500px; */
}

.partner_img img {
    width: 100%;
}

.partner_info {
    width: 35%;
    /* background-color: #071e31; */
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    padding: 60px 60px;
}

.partner_info .bottone{
    padding: 10px 10px 10px; 
    width: 38%;
    border: solid 1px #8d8b8b;
    color: #8d8b8b;
    font-size: 14px;
    text-align: center;
}

.more_option {
    max-width: 1080px; 
    /* background-color: brown;  */
    /* height: 800px; */
    margin: 0 auto;
    margin-bottom: 60px;
}

.card_container {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 600px;
    background-color: aquamarine; */
}

.card {
    width: 30%;
    margin-bottom: 40px;
    /* height: 500px; */
    /* background-color: blueviolet; */
}

.card img {
    width: 100%;
}

.more_infos {
    max-width: 1080px;
    margin: 0 auto;
    /* background-color: #2196F3;
    height: 500px; */
}

.sponsor {
    width: 100%;
    display: flex;
    margin-top: 100px;
    /* background-color: coral; */
    /* height: 700px; */
}

.sponsor_container  {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: chartreuse;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.sponsor_img {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sponsor_img img {
    width: 50%;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(14deg) brightness(105%) contrast(101%);
}